<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/grid.css" />
    <link rel="stylesheet" href="~/css/LayoutAdmin.css" />
</head>
<body>
    <div class="wrapper">
        <partial name="Admin/_HeaderAdmin" />
        <div class="container">
            <partial name="Admin/_SideBarAdmin" />
            <div class="content">
                @RenderBody()
                <partial name="Admin/_FooterAdmin" />
            </div>
        </div>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/Admin/main.js"></script>
</body>
</html>
