@using Microsoft.AspNetCore.Identity
@using WebAppTest.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
}
<header class="header">
    <div class="header__content">
        <div class="header__logo">
            <a href="/">
                <img class="header__logo-img"
                src=""
                alt="logo" />
            </a>
        </div>
        <div class="header__menu">
            <ul class="menu__items">
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="menu__item">
                        <a class="menu__item-link" href="./index.html">Xin chào, @UserManager.GetUserName(User)</a>
                    </li>
                }
                else
                {
                    <li class="menu__item">
                        <a class="menu__item-link" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</header>