@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizeService
@{
    var isAdmin = AuthorizeService.AuthorizeAsync(User, "Admin").Result;
}
<div class="sidebar">
    <div class="sidebar__content">
        <ul class="sidebar__items">
            <li class="sidebar__item">
                <a class="sidebar__item-link"
                   asp-page="/Admin/Index">Dashboard</a>
            </li>
            @if (isAdmin.Succeeded)
            {
                <li class="sidebar__item">
                    <div class="sidebar__item-link">
                        Thùng rác
                        <i class="fa-solid fa-caret-right icon no-rotate"></i>
                    </div>
                    <ul class="sidebar__sub-items">
                        <li class="sidebar__sub-item">
                            <a class="sidebar__sub-item-link"
                               asp-page="/Admin/Categories/Trash">Category</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a class="sidebar__sub-item-link"
                               asp-page="/Admin/Products/Trash">Product</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__item">
                    <div class="sidebar__item-link">
                        Quản lý sản phẩm
                        <i class="fa-solid fa-caret-right icon no-rotate"></i>
                    </div>
                    <ul class="sidebar__sub-items">
                        <li class="sidebar__sub-item">
                            <a class="sidebar__sub-item-link"
                               asp-page="/Admin/Categories/Index">Manager categories</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a class="sidebar__sub-item-link"
                               asp-page="/Admin/Products/Index">Manager products</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar__item">
                    <div class="sidebar__item-link">
                        Quản lý người dùng
                        <i class="fa-solid fa-caret-right icon no-rotate"></i>
                    </div>
                    <ul class="sidebar__sub-items">
                        <li class="sidebar__sub-item">
                            <a class="sidebar__sub-item-link"
                               asp-page="/Admin/Roles/Index">Manager roles</a>
                        </li>
                        <li class="sidebar__sub-item">
                            <a class="sidebar__sub-item-link"
                               asp-page="/Admin/Users/Index">Manager users</a>
                        </li>
                    </ul>
                </li>
            }
            <li class="sidebar__item">
                <a
                    class="sidebar__item-link"
                    asp-area="Identity"
                    asp-page="/Account/Logout">Logout</a>
            </li>
        </ul>
    </div>
</div>