@using WebAppTest.Helpers
@using WebAppTest.Models
@model PaginatedList<Product>


<div class="row">
    @if (Model.Count == 0)
    {
        <div class="col l-12 mgb-12 m-12 c-12">
            <p>Không tìm thấy sản phẩm nào</p>
        </div>
    }
    else
    {
        @foreach (var product in Model)
        {
            <div class="col l-2-4 mgb-12 m-4 c-6">
                <partial name="_ProductCard" model="product" />
            </div>
        }
    }
</div>