@using WebAppTest.Models
@model List<Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col col-lg-3 col-md-4 col-12 mt-2">
            <partial name="_ProductItem" model="product" />
        </div>
    }
</div>