@page "/edit-product/{id:int?}"
@using WebAppTest.Models
@using WebAppTest.Services
@inject ProductServices productServices
@model WebAppTest.Pages.EditProductModel
@{
    ViewData["Title"] = "Sửa sản phẩm";
    var product = productServices.GetProducts().FirstOrDefault(p => p.Id == Model.Id);
    if (product == null)
    {
        product = new Models.Product
        {
            Id = 0,
            Name = "",
            Description = "",
            Price = 0,
        };
    }
}

@if(product == null)
{
    <h1>Không tìm thấy sản phẩm</h1>
    <a class="btn btn-danger" asp-page="Products">Back</a>
}
else
{
    <h1>Sửa sản phẩm</h1>

    <a class="btn btn-danger" asp-page="Products">Back</a>

    <form class="mt-2" method="post">
        <partial name="_FormProduct" model="product" />
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}